#npmignore
!/dist
/src
/docs
/mock
/.github
/docs-dist
/.editorconfig                                      
/.eslintignore                                      
/.eslintrc.js                                       
/.fatherrc.ts                                       
/.prettierignore                                    
/.prettierrc     
tsconfig.json
typings.d.ts